.info1{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    /* justify-content: left; */
    flex-wrap: wrap;
    height: 100%;
    padding: 1rem ;
}
.project1{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    align-items: center;
    text-align: center;
    padding: 1rem;
    grid-gap: 40px;
}
.img{
  size: 1rem;
  max-width: 100%;
}
@media screen and (max-width:640px){
  .project1{
    max-width: 100%;
    margin: 1rem 1rem 1rem 1rem;
    grid-template-columns: 1fr;
    align-items: center;
  }
}